body {
	margin: 0px;
	text-align: center;
	font-family: "Merriweather", serif;
	color: #40514e;
}
h1 {
	margin: 50px auto 0px auto;
	font-family: "Sacramento", cursive;
	font-size: 5.625rem;
	color: #66bfbf;
	line-height: 2;
}
h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
	color: #66bfbf;
	font-weight: normal;
	padding-bottom: 10px;
}
h3 {
	color: #11999e;
}
a {
	color: #11999e;
	margin: 10px 20px;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
}
a:hover{
	color: #eaf6f6;
}
p {
	line-height: 2;
}
hr {
	border: dotted #eaf6f6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}
.pro {
	text-decoration: underline;
}
.topcontainer {
	background-color: #def5e5;
	padding-top: 100px;
	position: relative; /*parent container need to be relative so that child containers can be set accordingly*/
}
.middle-container {
	margin: 100px 0px;
}
.bottom-container {
	padding: 50px 0px 20px;
	background-color: #66bfbf;
}
.cloud-top {
	position: absolute;
	right: 300px;
	top: 40px;
}
.cloud-bottom {
	position: absolute;
	left: 250px;
	bottom: 300px;
}

.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}
.code-img {
	width: 25%;
	float: left;
	margin-right: 30px;
}
.camera-img {
	width: 33%;
	float: right;
	margin-left: 30px;
}

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}

.contact-message{
	width: 40%;
	margin: 40px auto 60px;
}

.intro {
	width: 30%;
	margin: auto;
}

.copyright {
	color: #eaf6f6;
	font-size: 0.75rem;
	padding: 20px 0px;
}